/*
 * This is the global stylesheet manifest file.  Files or plugins
 * referenced from here or placed in the application/ directory will be
 * included in all subsites.  This file is included by front.css and all
 * subsites.
 *
 *= require_self
 *= require_tree ./application
*/

fieldset.feckless-fields input.text, fieldset.feckless-fields input.string, fieldset.feckless-fields input.email-address, fieldset.feckless-fields input.password, fieldset.feckless-fields textarea {
    border: 1px solid #444444;
    padding: 2px;
    width: 100%;
}

textarea {
    height: 200px;
    width: 100%;
}

/* Timemap GeoRSS */

div#timelinecontainer { height: 310px; }
div#mapcontainer { height: 300px; }
div.infodescription { height: 130px; }
div.description { margin-bottom: 20px; }


p.content {
    font-size: 12px;
    width: 30em;
}

div#help {
    font-size: 12px;
    width: 45em;
    padding: 1em;
}

div#timemap {
    padding: 1em;
}

div#timelinecontainer{
    width: 100%;
    height: 200px;
}

div#timeline{
    width: 100%;
    height: 100%;
    font-size: 12px;
    background: #CCCCCC;
}

div#mapcontainer {
    width: 100%;
    height: 400px;
}

div#map {
    width: 100%;
    height: 100%;
    background: #EEEEEE;
}

div.infotitle {
    font-size: 14px;
    font-weight: bold;
}
div.infodescription {
    font-size: 14px;
    font-style: italic;
}

div.custominfostyle {
    font-family: Georgia, Garamond, serif;
    font-size: 1.5em;
    font-style: italic;
    width: 20em;
}

/* Timemap GeoRSS End */