/*
 * This is the stylesheet manifest file for the front subsite (which
 * is your whole application if you don't have any subsites).  Files
 * or plugins referenced from here or placed in the front/ directory
 * will be included.
 *
 *= require_self
 *= require hobo_rapid
 *= require hobo_jquery
 *= require hobo_jquery_ui
 *= require jquery-ui/redmond
 *= require application
 *= require hobo_bootstrap
 *= require hobo_bootstrap_docs
 *= require hobo_bootstrap_responsive
 *= require hobo_mapstraction
 *= require_tree ./front
*/


// http://stackoverflow.com/questions/9141249/twitter-bootstrap-css-affecting-google-maps
#map img {  max-width: none; width: auto; display:inline; }

@import "compass_twitter_bootstrap";

@import "http://fonts.googleapis.com/css?family=Cantata+One";
@import "http://fonts.googleapis.com/css?family=Muli";

h2 {
  font-family: 'Cantata One', Helvetica, Arial, sans-serif;
}


body {
  background: url('http://i.imgur.com/5EMXx.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Muli', Georgia, Times, serif;

}

// Table & Content Floater Markup

tr.highlight td { background-color: #e0e0e0 !important; }

div#timemap { background-color: #FFF !important; padding: 0em !important; }

div.table-plus { background-color: #FFF !important;
  padding: 1em;
  margin-top: 2em;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
/* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#000000')";
/* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#000000');
}

table.table-striped.collection { background-color: #FFF !important;
  padding: 1em;
  margin-top: 2em;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
/* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#000000')";
/* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#000000');
}

table.table-bordered { border-style: none; }

div.header { margin-bottom: 1em; }

td.this-view { border-left: none !important; }

th.Creation-heading { border-left: none !important; }

div.content-floater, div.description.view.fragment-body, form.form-horizontal.creation {
  background-color: #FFF !important;
  padding: 1em;
  margin-top: 2em;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
/* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#000000')";
/* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#000000');
}

// Button Markup

a.new-link, a.edit-link { margin-bottom: 1em; }

div.content-header {margin-bottom: 3em !important;}

img.quote { float: left; margin: 1em;}


.ui-datepicker-calendar { display: none; }

/* mxnDraw */
#container{padding:12px;overflow:hidden}
#ui,#log{float:left;width:50%;}
#toolbar,#form{margin-bottom:12px;}
#features{margin:0;padding:0 12px 0 0;list-style:none;}
#features li{display:block;padding:4px;overflow:hidden}
/* #features li:nth-child(2n-1){background-color:#deedf7;} */
/* #features li.active{background-color:#3baae3!important;} */
#features li a{text-decoration:none;}
#features li a:hover{text-decoration:underline;}
/* #features li.active a{color:#fff!important;} */
#features li a{display:block;float:left;margin-right:4px;}
/* #features li a.remove{float:right;} */
#features li a.hide{display: none;}
#features li a.show{display: none;}


#log{margin:0;height:320px;overflow:auto;font-family:monospace;font-size:10px;background-color:#eee;display:none;}
